@use 'sass:color';

.tile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    position: relative;
    max-width: 100%;

    width: fit-content;
    height: fit-content;

    text-align: left;
    text-decoration: none;

    border: 1px solid transparent;

    &:hover:not(.passive)::after {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        content: "";
        background: radial-gradient(color.adjust(white, $alpha: -0.75), transparent);
        background-position-x: left;
        background-position-y: top;
        background-attachment: fixed;

        border-radius: inherit;
        pointer-events: none;
    }

    &.grow {
        width: unset;
        height: unset;

        flex-grow: 1;
        flex-shrink: 1;
    }

    &.bordered {
        color: white;
        background-color: transparent;
        border: 1px solid white;
    }

    &.rounded {
        border-radius: 10px;
    }

    &.green {
        color: white;
        background-color: green;
    }

    &.blue {
        color: white;
        background-color: dodgerblue;
    }

    &.purple {
        color: white;
        background-color: purple;
    }

    &.yellow {
        color: black;
        background-color: yellow;
    }

    &.white {
        color: black;
        background-color: white;
    }

    &.brown {
        color: white;
        background-color: maroon;
    }

    &.gray {
        color: white;
        background-color: rgb(50, 50, 50);
    }

    &.cutout {
        color: black;
        background-color: white;
        mix-blend-mode: screen;
    }

    &:hover {
        border-color: color.adjust(white, $alpha: -0.5 )
    }

    h1 {
        font-size: 18pt;
        margin: 0;
        margin-top: 15pt;
        margin-bottom: 15pt;
    }

    p {
        font-size: 12pt;
        margin: 5px;
        padding: 0;
    }

    h4 {
        font-size: 12pt;
        margin: 5px;
    }

    &.internal {
        height: 100%;
        .label {
            margin: 0;
            font-size: 24pt;
        }
    }

    img {
        width: 100%;
        border-radius: 10px;
    }
}
