---
layout: page
---
<body>

    <header>
        {% include nav.html %}
    </header>

    <div class="grid x2 adaptive spaced center-content" id="article">
        <nav class="content hidden">
            <ol id="content">
            </ol>
        </nav>
        <main>
            <article>
                {{ content }}
            </article>
        </main>
    </div>

    <footer>
    {% if page.copyright %}
        <p class="center-content">&copy; {{ page.author }} {{ page.license }} </p>
    {% else %}
        {% include footer.html %}
    {% endif %}
    </footer>

    <script>
        const contents = document.querySelector('.index')
        const holder = document.querySelector('#content')
        const article =document.querySelector('#article')

        if (contents) {
            holder.innerHTML = contents.innerHTML
            holder.parentElement.classList.remove("hidden")
            article.classList.remove('center-content')
        }
    </script>

</body>
