---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.domain %}
    <meta name=" description" content= "{{page.excerpt}}" />
    {% else %}
    <meta name=" description" content= "Tiled Screen, a tile based launcher for KDE PLasma 6." />
    {% endif %}
    <meta property=”og:title” content="Tiled Screen : {{ page.title }}" />
    {% if page.domain %}
    <meta property=”og:image” content="{{site.baseurl}}/assets/images/tiles/{{page.domain}}/{{page.thumbnail}}" />
    {% elsif page.cover %}
    <meta property=”og:image” content="{{page.cover}}" />
    {% endif %}

    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/tiledscreen.svg">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    <title>Tiled Widgets : {{ page.title }}</title>
</head>
{{ content }}
<script src="{{site.baseurl}}/assets/js/gallery.js"></script>
</html>
